<h1 style="text-align: center;">Modification Mot de passe</h1>
<form class="mx-auto w-50 user" [formGroup]="userPswForm">
    <div *ngIf="modifiermdp == false">
        <div class="form-group">
            <label>Mot de passe actuel</label>
            <input type="password" class="form-control form-control-user" formControlName="pswactuel">
        </div>
        <div class="alert alert-danger mt-2" *ngIf="error == true">
             mdp incorrecte
        </div>
        <button class="btn btn-success my-3 btn-user" (click)="confirmermdp()">Confirmer</button>
    </div>
    <div *ngIf="modifiermdp == true">
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control form-control-user" formControlName="psw">
        </div>
        <div class="alert alert-danger mt-2" *ngIf="userPswForm.controls['psw'].invalid && userPswForm.controls['psw'].touched">
            <div *ngIf="userPswForm.controls['psw'].hasError('required')"> Mot de passe est obligatoire</div>
            <div *ngIf="userPswForm.controls['psw'].hasError('minlength')"> Minimum 5 caracteres</div>
            <div *ngIf="userPswForm.controls['psw'].hasError('pattern')">  doit contenir au moins une lettre majuscule, une lettre minuscule et un chiffre</div>
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control form-control-user" formControlName="confirmPsw">
        </div>

        <div class="alert alert-danger mt-2"
            *ngIf="userPswForm.controls['psw'].value != userPswForm.controls['confirmPsw'].value && userPswForm.controls['confirmPsw'].dirty">
            <div>Confirmer le mot de passe</div>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary mr-3 btn-user"
                [disabled]="userPswForm.invalid || userPswForm.controls['psw'].value != userPswForm.controls['confirmPsw'].value && userPswForm.controls['confirmPsw'].dirty" (click)="updatePsw(userPswForm)">Confirmer</button>
            <button type="reset" class="btn btn-secondary mx-3 btn-user">Reset</button>
            <button class="btn btn-danger my-3 btn-user" (click)="notifyParent()">Annuler la modification</button>
        </div>
    </div>
</form>