<div class="card my-auto mx-auto w-50">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="far fa-frown-open"></i>
        </div>
        <h4 class="modal-title">désolé!
          !</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Votre panier est actuellement vide.</p>
      </div>
      <div class="modal-footer">
        <a routerLink="/products/produit/1" class="btn btn-danger btn-block" data-dismiss="modal">OK</a>
      </div>
    </div>
  </div>

</div>
