

<section id="hero-1">
  
    <div class="container">
   

      <div class="sub-main">
        <button style="height: 60px; width:25%; margin-right: 18% ; color: black; font-size: large; font-style:italic;" routerLink="/home" class="button-three">Affect Employee</button>
      </div>

      
      <div class="sub-main">
        <button style="height: 60px; width:25%; margin-right: 18% ; color: black; font-size: large; font-style:italic; margin-top: 2%;" class="button-three"> <a routerLink="/statistics"></a> View Statistics</button>
      </div>


   
    

    </div>
  </section>
  
  <section class="normal-scroll">

    <div class="intoduction-section">
      The opportunities offered by networking, informal exchanges and mutual meeting are powerful triggers and enablers for business development and expansion.

      Fortune favors the brave, people who try, who dare. Reason why, we are proposing to create this chance to different companies to develop their network, to put them in touching order to create this opportunity and promote the emergence of partnerships that could have been unexpected.
      
      Throughout “Travel& Business” application, we will connect, through a matching algorithm, travelers from different companies in order to promote the emergence of partnerships, boost their future collaborations and accelerate their business development.
      
    </div>
    
    
   
  </section>
  
  <section id="hero-2">
    <div class="container" style="margin-right: 15%;">
      Business  & Travel
      <h1 style="color: black; font-size: x-large; color: rgb(7, 144, 114); font-style: oblique;"> Ameliorate you're professional network with us</h1>
     </div>
  </section>
  
  <section class="normal-scroll">
    <div class="container" style="margin-right: 90% !important; ">
      Our Team membres:
      <div >
      <img  src="https://scontent.ftun16-1.fna.fbcdn.net/v/t1.6435-9/199380431_1720083801512572_8103048118847791736_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=aCTjR9CnkdcAX9GpRrB&_nc_ht=scontent.ftun16-1.fna&oh=00_AT9oof7hz0fvy5UBRbcfwFQfjL0GpMeFy2rxeoruGmvJFQ&oe=629145E9" style="width: 15%;">
      <img src="https://scontent.ftun16-1.fna.fbcdn.net/v/t1.6435-9/45260485_1416486955148926_8087026030813904896_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=174925&_nc_ohc=6IG03WX_o-oAX8jFSH2&_nc_ht=scontent.ftun16-1.fna&oh=00_AT-154SRknlq0aLZEIt1pXkH-Z0df-FLdc1Moifty8fDRQ&oe=62931A15" style="width: 15%;">

      <img src="https://scontent.ftun16-1.fna.fbcdn.net/v/t1.6435-9/161259952_2449575875188058_699209538796272795_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_ohc=jiL__4uzxA4AX9urbRe&_nc_ht=scontent.ftun16-1.fna&oh=00_AT_rPonM4EygPx5fYGoUJYRCKgvoaG-1lAfdNnzCSDSNUA&oe=6294273B"  style="width: 15%;">

      <img src="https://scontent.ftun16-1.fna.fbcdn.net/v/t1.6435-9/189752090_822987341949965_655616424557370694_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=ybkqMsPrifsAX9D5PIJ&_nc_ht=scontent.ftun16-1.fna&oh=00_AT_irP90RhSp8lZQ_6S39Yb5sMXRNoMI6obb4l7hDK9PYA&oe=6293C790" style="width: 15%;">

      <img src="https://scontent.ftun16-1.fna.fbcdn.net/v/t39.30808-6/272854051_4841028982652605_1139095464271534260_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=fHQZQLfoE4MAX_oV_cD&_nc_ht=scontent.ftun16-1.fna&oh=00_AT_ZPOIC6cYI8aC-F_7pU4AI8E-dbwSvDFwru5dV3S0smA&oe=6272671C" style="width: 15%;">
   </div>
   </div>
  </section>
  
  <section id="hero-3">
    <div class="container"  >
   contact us : 
     <div>

     </div>
    </div>
  </section>
