<form [formGroup]="FormFacture" class="col-8 mx-auto card" (ngSubmit)="saveFacture()" >
  <div class="card-body">
    <div class="row">
    <div class="form-group col-8">
      <label>Date Facture : </label>
    <input type="text" class="form-control" formControlName="dateFacture">
  </div>
  <div class="form-group col">
    <label>E-Mail : </label>
    <input type="text" class="form-control" formControlName="userFacture">
  </div>
  </div>
    <div class="row">
      <div class="col-2">
        Id Produit
      </div>
      <div class="col-2">
        Libelle
      </div>
      <div class="col-2">
        Prix Unitaire
      </div>
      <div class="col-2">
        Remise %
      </div>
      <div class="col">
        Quantite
      </div>
    </div>
      <div class="my-3" *ngFor="let detailFacutre of facture.detailFacture">
        <app-form-detail-facture (DeleteEvent)="DeleteDetail($event)" (NotifyEvent)="changeMontat()" [detailfacture]="detailFacutre"></app-form-detail-facture>
      </div>
    <div class="row" *ngIf="showerreur">
      <div class="col-12">
        <div class="alert alert-danger">
        Quantite doit etre >0
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        Prix Total :
      </div>

      <div class="col">
        <input type="text" class="form-control" formControlName="montantFacture">

      </div>
    </div>
    <div class="row">
      <div class="col"><button class="btn btn-warning" (click)="afficherFormCodePromo=!afficherFormCodePromo" type="button">Ajouter un code promo </button> </div>

     </div>
    <div class="row my-3">
      <div class="col" *ngIf="afficherFormCodePromo==true&&usercodepromo==false">
        <app-form-front-code-promo (affectEvent)="addCodePromo($event)" ></app-form-front-code-promo>
      </div>
      <div class="col" *ngIf="afficherFormCodePromo==true&&usercodepromo==true">
        <div class="alert alert-info" >
          <p>Vous avez déja un code promo activé
          </p>
          <p>Valeur code promot : {{ user.codepromo.valeur }} % </p>

        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-outline-success my-3" type="submit" name="valider" [disabled]="showerreur">Valider</button>
</form>

