@import "~ngx-toastr/toastr";
p {
  margin: -5px;
}
.p1 {
  font-size: 12px;
}

.users {
  margin: auto;
  margin-right: 3px;
  margin-left: 3px;
}

.backgound {
  border-radius: 60px;
  margin: 6px;
}
