<div class="container">
    <div class="row">
    <div class="col-lg-4 col-md-6" style="margin-top: 20px">
                <div class="card border-primary">
                    <div class="card-body bg-primary text-white">
                        <div class="row">
                            <div class="col-3">
                                <i class="fa fa-random fa-5x"></i>
                            </div>
                            <div class="col-9 text-right">
                                <h1>10</h1>
                                <h4>  Travels</h4>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6" style="margin-top: 20px">
                <div class="card border-secondary">
                    <div class="card-body bg-secondary text-white">
                        <div class="row">
                            <div class="col-3">
                                <i class="fas fa-user-plus fa-5x"></i>
                            </div>
                            <div class="col-9 text-right">
                                <h1 style="margin-left: 8%;">20</h1>
                                <h4 style="margin-left: 8%;">  Travelers</h4>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-6" style="margin-top: 20px">
                <div class="card border-success">
                    <div class="card-body bg-success text-white">
                        <div class="row">
                            <div class="col-3">
                                <i class="fa fa-user-tie fa-5x"></i>
                            </div>
                            <div class="col-9 text-right">
                                <h1 style="margin-left: 8%;">50</h1>
                                <h4 style="margin-left: 8%;">  Employees</h4>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6" style="margin-top: 20px">
                <div class="card border-danger">
                    <div class="card-body bg-danger text-white">
                        <div class="row">
                            <div class="col-3">
                                <i class="fa fa-book fa-5x"></i>
                            </div>
                            <div class="col-9 text-right">
                                <h1>60</h1>
                                <h4>  opportunities</h4>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-6" style="margin-top: 20px">
                <div class="card border-warning">
                    <div class="card-body bg-warning text-white">
                        <div class="row">
                            <div class="col-3">
                                <i class="fa fa-university fa-5x"></i>
                            </div>
                            <div class="col-9 text-right">
                                <h1 style="margin-left: 8%;">4</h1>
                                <h4 style="margin-left: 8%;">  companies</h4>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-6" style="margin-top: 20px">
                <div class="card border-info">
                    <div class="card-body bg-info text-white">
                        <div class="row">
                            <div class="col-3">
                                <i class="	fa fa-bullhorn fa-5x"></i>
                            </div>
                            <div class="col-9 text-right">
                                <h1 style="margin-left: 8%;"> 30 </h1>
                                <h4 style="margin-left: 8%;"> Events </h4>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>