<header id="page-topbar">
  <div class="navbar-header">
      <div class="d-flex">
          <!-- LOGO -->
          <div class="navbar-brand-box">
       
              <a href="index.html" class="logo logo-light">
                 
                  <span class="logo-lg">
                      <img src="https://scontent.ftun14-1.fna.fbcdn.net/v/t39.30808-6/279566996_145980621280594_548108692547064443_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=W2Ju6QX2Q8oAX-7_FXv&_nc_ht=scontent.ftun14-1.fna&oh=00_AT_IIT72IQThMrgtU9RT5nvrWeKI3dXMvlrS6dOqPPA67w&oe=62777180" alt="" height="120">
                  </span>
              </a>
          </div>

          <!-- <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
              <i class="mdi mdi-menu"></i>
          </button>

          <div class="d-none d-sm-block ms-2">
              <h4 class="page-title font-size-18">Dashboard</h4>
          </div> -->

      </div>

      <!-- Search input -->
      <div class="dropdown d-inline-block ms-2 ">
          <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      
              <span>Statistics</span>
          </button>
          <div class="dropdown-menu dropdown-menu-end">
              <!-- item-->
              <a class="dropdown-item" routerLink="/statistics"><i style="font-size:24px" class="fa font-size-16 align-middle me-2">&#xf080;</i>
                  charts</a>
             
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://www.javatpoint.com/classification-and-predication-in-data-mining"><i class="fa fa-eye font-size-16 align-middle me-2"></i>
                  predict</a>
          </div>
      </div>
      

      <div class="d-flex">

          <div class="dropdown d-inline-block ms-2">
              <button type="button" class="btn header-item noti-icon waves-effect"
                  id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                    <a class="nav-link" [class.active]="check3" (click)="changeCheck3()" routerLink="/login">Se connecter</a>
                  </button>
                  <button type="button" class="btn header-item noti-icon waves-effect"
                  id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <a class="nav-link" [class.active]="check4" (click)="changeCheck4()" routerLink="/users/inscription">S'inscrire</a>
                  </button>
                  
          </div>

          <div class="dropdown d-inline-block ms-2 ">
              <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i>
        </button>
              <div class="dropdown-menu dropdown-menu-end">
                  <!-- item-->
                  
                  <a class="dropdown-item" href="#"><i class="dripicons-user font-size-16 align-middle me-2"></i>
                      Profile</a>
                 
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="dripicons-exit font-size-16 align-middle me-2"></i>
                      Logout</a>
              </div>
          </div>

         

      </div>
  </div>
</header>