<form  class="form-section" [formGroup]="myForm"  (ngSubmit)="add()">
    <h1>create a new invitation !</h1>
    <div class="form-group">
        <label>Invitation Email</label>
        <input type="text"  class="form-control" name="description"  formControlName="description"> 
    </div>
   
    <div class="form-group">
    <label>State</label>
    <input type="date" class="form-control" formControlName="State">
    </div>
    <div>
      
      
    </div>
    
    <div class="boutonAddinvitation"><input type="submit" class="btn btn-success" value="Submit"> </div>
  
    
        
</form>