<h1 style="text-align: center;">Récuperation de Mot de passe</h1>
<form class="mx-auto w-25 user" [formGroup]="forgetPswForm">
    <div *ngIf="displayEmail == true">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control form-control-user" formControlName="email">
        </div>
        <button class="btn btn-success btn-user" (click)="sendMail()" [disabled]="forgetPswForm.controls['email'].invalid">Envoyer</button>
        <div class="alert alert-danger mt-2" *ngIf="errorEmail == true">
                Cette adresse mail n'est reliée a aucun compte 
        </div>
    </div>
    <div *ngIf="displayCode == true">
        <div class="form-group">
            <label>Un code de verification a été envoyé a votre adresse mail</label>
            <input type="text" class="form-control form-control-user" formControlName="code">
        </div>
        <div class="alert alert-danger mt-2" *ngIf="errorCode == true">
            Code incorrecte 
        </div>
        <button class="btn btn-success btn-user" (click)="confirmCode()">Confirmer</button>
    </div>

    <div *ngIf="displayUpdate == true">
        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" class="form-control form-control-user" formControlName="psw">
        </div>
        <div class="form-group">
            <label>Confirmer mot de passe</label>
            <input type="password" class="form-control form-control-user" formControlName="confirmPsw">
        </div>
        <div class="alert alert-success mt-2" *ngIf="pswUpdated == true">
            Mot de passe modifié avec succées
        </div>
        <button class="btn btn-primary mr-3 btn-user"
            [disabled]="(forgetPswForm.controls['psw'].value != forgetPswForm.controls['confirmPsw'].value && forgetPswForm.controls['confirmPsw'].dirty) || forgetPswForm.controls['psw'].value ===''   "
            (click)="updatePsw()">Confirmer</button>
        </div>
</form>